<div class="row">
  <div class="col-md-4 col-lg-2">

    <div class="well">
       <app-types-tree #tree (selectionChange)="onTypeSelected($event)"></app-types-tree>
    </div>
  </div>
  <div class="col-md-8 col-lg-10">

    <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:10px"><tr><td>
      <ol class="breadcrumb" style="margin: 0 !important">
        <li [translate]="'nav.administration'"></li>
        <li class="active" [translate]="'nav.types'"></li>
      </ol>
    </td><td align="right" [ngStyle]="{'width': (selectedType ? '80px' : '50px')}">
        <button type="button" *ngIf="selectedType" (click)="editJson()" class="btn btn-default btn-sm"
                [attr.title]="'actions.editJson' | translate"><i class="glyphicon glyphicon-pencil"></i>
        </button>
        <button type="button" (click)="createType()" class="btn btn-default btn-sm"
                [attr.title]="'document.create' | translate"><i class="glyphicon glyphicon-plus"></i></button>

    </td></tr></table>


      <app-type-edit *ngIf="selectedType" [type]="selectedType" (onSave)="onTypeSaved($event)"></app-type-edit>
  </div>
</div>
