<div class="row">
  <div class="col-md-4 col-lg-2">
    <div class="well">
      <app-folders-tree #tree (selectionChange)="onFolderSelected($event)"></app-folders-tree>
    </div>
  </div>
  <div class="col-md-8 col-lg-10">
    <table width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:10px"><tr><td>
      <ol class="breadcrumb" style="margin: 0 !important">
        <li [translate]="'nav.administration'"></li>
        <li [translate]="'nav.folders'"></li>
        <li *ngFor="let crumb of breadCrumbs; let i = index">
          <a *ngIf="!!crumb.func" href="javascript://" (click)="crumb.func(i)">{{crumb.name}}</a>
          <span *ngIf="!crumb.func">{{crumb.name}}</span>
        </li>
      </ol>
    </td><td align="right" [ngStyle]="{'width': (selectedFolder ? '100px' : '70px')}">

      <button type="button" (click)="editFolder()" class="btn btn-sm btn-default" *ngIf="selectedFolder"
                [attr.title]="'folder.edit' | translate"><i class="glyphicon glyphicon-pencil"></i></button>

      <div class="btn-group btn-group-sm" dropdown>
        <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" [attr.title]="'actions.add' | translate">
          <i class="glyphicon glyphicon-plus"></i> &nbsp; <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" style="left:-120px !important">
          <li role="menuitem"><a class="dropdown-item" href="javascript://" (click)="createFolder()" [translate]="'folder.create'"></a></li>
          <li role="menuitem"><a class="dropdown-item" href="javascript://" (click)="createDocument()" [translate]="'document.create'"></a></li>
          <li role="menuitem"><a class="dropdown-item" href="javascript://" (click)="createSystem()" [translate]="'system.create'"></a></li>
        </ul>
      </div>


    </td></tr></table>
    <app-objects-list [columns]="dataColumns" [rows]="dataRows"
                      [total]="dataTotalCount" [page]="pageNum" [loading]="isLoading" (sortChange)="onSort($event)"
                      (itemOpen)="onItemOpen($event)" (pageChange)="onItemsPageChange($event)"></app-objects-list>
  </div>
</div>
