<div class="modal-header">
  <h4 class="modal-title pull-left" i18n="@@typeSelectTitle" [innerHTML]="isNew ? ('users.newTitle' | translate) : group.title"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="group_id"> {{'users.groupId' | translate}} <strong class="text-danger">*</strong></label>
    <input class="form-control" id="group_id" [(ngModel)]="group.id">
  </div>

  <div class="form-group">
    <label for="group_name"> {{'users.groupName' | translate}} <strong class="text-danger">*</strong></label>
    <input class="form-control" id="group_name" [(ngModel)]="group.title">
  </div>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="!group.title || group.title === '' || !group.id || group.id === ''"
          class="btn btn-primary" (click)="ok()" [translate]="'actions.ok'">OK</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" [translate]="'actions.cancel'">cancel</button>
</div>
