<a *ngIf="isLink" href="javascript://;" (click)="onLinkClick()" class="{{valueClass}}" [style]="valueStyle"> {{ value }} </a>

<span *ngIf="isIcon && value && !column.value" [innerHTML]="value | mimeIcon" [title]="value"
      (click)="onIconClick()" class="{{(previewSupported ? 'clickable' : '')}}" [style]="valueStyle"></span>
<span *ngIf="isIcon && iconName" class="mdi  mdi-{{iconName}} mdi-24px" [style]="valueStyle"
      [title]="value"></span>

<span *ngIf="!isLink && !isIcon" class="{{valueClass}}" [style]="valueStyle"> {{ value }} </span>
