.type-form button.close{
  color: #000 !important;
  margin-left: 5px;
}

[ace-editor] {
  border-radius: 3px;
  padding: 6px;
  border: 1px solid #ccc !important;
  background-color: rgb(253, 253, 253) !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner-sm {
  margin: 0px;
  width: 15px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-sm > div {
  width: 4px;
  height: 11px;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

body, .dropdown-menu{
  font-size: 13px
}

.navbar {
  margin-bottom: 10px;
}

.navbar-brand {
  padding: 15px 15px;
}

.container-fluid {
  padding-left: 5px;
  /*padding-right: 5px;*/
}
.stick {
  position: fixed !important;
  top: 0px !important;
}
.breadcrumb {
  padding: 8.5px 15px;
}

.sortable,
.clickable {
  cursor: pointer;
}
.sortable .sort-icon {
  opacity: 0.2;
}

.sortable:hover .sort-icon,
.sorted  .sort-icon{
  opacity: 1;
}

.json-schema-form .form-group {
  margin-bottom: 5px !important
}

.sidenav .nav-tabs {
  border-bottom: 1px solid #18bc9c
}
.sidenav .nav-item {
   border-color: #18bc9c;
}

.sidenav .tab-content {
  padding-top: 10px
}

.sidenav .nav-tabs>li.active>a,
.sidenav .nav-tabs>li.active>a:hover,
.sidenav .nav-tabs>li>a:hover,
.sidenav .nav-tabs>li.active>a:focus{
  background-color: #ecf0f1;
  border: 1px solid #18bc9c;
}
.sidenav .nav-tabs>li.active>a,
.sidenav .nav-tabs>li.active>a:hover{
  border-bottom-color: transparent;
}

.comment-panel {
  margin-bottom: 5px !important;
}

.table>thead>tr>th {
  vertical-align: top;
}

.mdi-24px {
  line-height: 20px
}

.width200 {
  width: 200px !important
}
.width300 {
  width: 300px !important
}
.width400 {
  width: 400px !important
}
.width500 {
  width: 500px !important
}
.width100pc {
  width: 100% !important
}
.width50pc {
  width: 50% !important
}
.width30pc {
  width: 30% !important
}

json-schema-form select-widget select option[value=null]{
  display:none
}

.facet-bucket .dropdown-menu {
  width:95%;
  top: unset
}

.color-grey {
  color: #999;
}



.dropzone {
  border: 2px solid white
}
.dropzone.dz-drag-hover {
  border: 2px dashed orangered;
}
.dropzone .dz-message,
.dropzone .dz-preview
{
  display: none
}
